#menu{
    -fx-background-image: url("../images/background-menu.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-padding: 50;
    -fx-spacing: 20;
}

.menu-button {
    -fx-background-color: #8BC53F;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-padding: 10;
    -fx-font-weight: bold;
}

#game{
    -fx-background-image: url("../images/robot-turtles-game.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

.game-button {
    -fx-background-color: #8BC53F;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-font-size: 12;
    -fx-padding: 5;
    -fx-font-weight: bold;
}

#board{
    -fx-border-color: #000;
    -fx-border-width: 3 ;
    -fx-grid-lines-visible: true;
}

.hover-allowed {
    -fx-border-color: #00ff00;
    -fx-border-width: 2;
}

.hover-refused {
    -fx-border-color: #ff0000;
    -fx-border-width: 2;
}

.pawn, .card {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

.jewel{
    -fx-background-image: url("../images/jewel.png");
}

.obstacle-ice{
    -fx-background-image: url("../images/wall-ice.png");
}
.obstacle-stone{
    -fx-background-image: url("../images/wall-stone.png");
}

.card-yellow{
    -fx-background-image: url("../images/card-yellow.png");
}
.card-blue{
    -fx-background-image: url("../images/card-blue.png");
}
.card-purple{
    -fx-background-image: url("../images/card-purple.png");
}
.card-laser{
    -fx-background-image: url("../images/card-laser.png");
}

#turtle-blue{
    -fx-background-image: url("../images/turtle-blue.png");
}
#turtle-orange{
    -fx-background-image: url("../images/turtle-orange.png");
}
#turtle-purple{
    -fx-background-image: url("../images/turtle-purple.png");
}
#turtle-red{
    -fx-background-image: url("../images/turtle-red.png");
}

.draw{
    -fx-background-image: url("../images/stack-card.png");
}

