#pane{
    -fx-background-image: url("robot-turtles-menu.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}